@import "../../../index.scss";

.desc-container {
  width: 100%;

  textarea {
    resize: none;
    width: 100%;
    height: 40vh;
    padding: 10px;
    font-family: sans-serif;
    margin: 0;

    border: 1px solid lightgrey;
  }

  .detail-row {
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 0 0 7px 7px;
    border: 1px solid lightgrey;
    padding: 3px;
    margin-top: -5px;
  }

  .button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;

    background-color: rgb(243, 243, 243);
    border-radius: 7px 7px 0 0;
    border: 1px solid lightgrey;
    padding: 3px;
    margin-bottom: -3px;

    div {
      display: flex;
    }

    button {
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;

      height: 25px;
      width: 35px;
      border-radius: 3px;

      background-color: transparent;
      border: 1px solid lightgray;
    }

    button.active, button:focus {
      border: 1px solid $color-gradient-start;
    }

    button:hover {
      color: #fff;
      background-color: $color-gradient-start;
      cursor: pointer;
    }
  }
}

div.md-logo-wrapper .tooltip {
  visibility: hidden;
  display: none;
  position: absolute;
  padding: 5px;
  margin-right: 10px;
}

.md-logo:hover {
  cursor: pointer;
}

div.md-logo-wrapper:hover .tooltip {
  visibility: visible;
  display: contents;
}

section.emoji-mart {
  position: absolute;
}

@media screen and (min-width: 720px) {
  section.emoji-mart {
    left: 150px
  }
}
