@import "../../index.scss";

.text-white {
  color: #ffffff !important;
}

.login-page-wrapper {
  position: relative;

  width: 100%;
  height: 100vh;

  .login-view {
    display: none;
  }

  .login-card {
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
    margin: 18vh auto;

    .form-title {
      margin-bottom: 0vh;
    }

    .inner-form {
      .form-group.form-info {
        background-color: $color-gradient-start;
        border: none;
      }

      .form-group {
        display: flex;
        flex-direction: column;

        margin: 10px 0;
        width: 225pt;
        // border-bottom: 1px solid grey;

        i {
          width: 40px;
          height: 40px;
          font-size: 20px;
          line-height: 40px;
          border: none;
          color: $color-gradient-start;
        }

        label {
          text-align: left;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          height: 40px;
          padding-left: 5px;
          line-height: 40px;

          font-size: 14px;
          font-weight: 300;

          border: 1px solid lightgray;
          outline: none;
          // background-color: lightgray;
        }

        ::placeholder {
          color: lightgrey;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:active {
          box-shadow: 0 0 0 30px white inset !important;
        }
      }

      .password {
        margin-bottom: 5px;
      }

      .form-options {
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
          font-size: 12px;
          color: grey;
        }

        a {
          text-decoration: none;
          color: grey;
          font-weight: 400;
        }

        .lupa-sandi {
          align-self: flex-end;
          font-size: 12px;
        }

        .button {
          width: 100%;
          height: 40px;
          font-size: 20px;
          font-weight: 500;
          margin: 35px 0 10px 0;
          background-color: #005eb5;
        }

        .buat-akun {
          color: rgb(60, 60, 255);
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (min-width: 420px) {
  #navbar {
    display: flex;
  }

  .login-page-wrapper {
    height: 100vh;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-card {
      background-color: white;
      width: 337px;
      height: 398px;
      padding: 50px 50px;
      margin-top: 17vh;
    }
  }
}

@media screen and (min-width: 420px) {
  .content-wrapper {
    .login-page-wrapper {
      .login-view {
        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(100% - 245pt);
        height: 100vh;

        background-color: #1b9ab4;

        .random-pic {
          position: absolute;
          right: 15pt;

          opacity: 0.5;
          width: 100%;
          height: 100vh;

          background-image: url("../../assets/images/bg.png");
          background-color: #1b9ab4;
          background-blend-mode: multiply;
        }

        .lv-text {
          z-index: 1;
          width: 350pt;
          margin: auto;

          text-align: left;

          color: white;

          h1 {
            font-size: 27pt;
          }

          .line {
            margin: 1pt auto;
            background-color: white;
          }

          p {
            font-size: 12pt;
          }
        }
      }

      .login-card {
        width: 315pt;
        height: 100vh;

        margin: 0;
        padding: 0;

        .form-title {
          margin-bottom: 20pt;
        }

        .inner-form {
          width: 215pt;
        }
      }
    }
  }
}
