@import "../../index.scss";
#navbar {
  display: none;
}

.login-page-wrapper {
  width: 100%;
  height: 100vh;

  .login-card {
    width: 80%;
    margin: 18vh auto;

    .form-title {
      margin-bottom: 3vh;
    }

    .inner-form {
      .form-group {
        display: flex;
        margin: 20px 0;
        border-bottom: 1px solid grey;

        i {
          width: 40px;
          height: 40px;
          font-size: 20px;
          line-height: 40px;
          border: none;
          color: $color-gradient-start;
        }

        input {
          width: 100%;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          font-weight: 300;
          border: none;
          outline: none;
        }

        ::placeholder {
          color: lightgrey;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:active {
          box-shadow: 0 0 0 30px white inset !important;
        }
      }

      .password {
        margin-bottom: 5px;
      }

      .form-options {
        width: 100%;
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;
          color: grey;
          font-weight: 400;
        }

        .lupa-sandi {
          align-self: flex-end;
        }

        .button {
          width: 100%;
          height: 40px;
          font-size: 20px;
          font-weight: 500;
          margin: 35px 0 10px 0;
        }
      }
    }
  }
}

@media screen and (min-width: 420px) {
  #navbar {
    display: flex;
  }

  .content-wrapper {
    height: calc(100vh - 55px);
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-page-wrapper {
      background-color: white;
      width: 60%;
      height: 70vh;

      .login-card {
        margin-top: 12vh;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .content-wrapper {
    .login-page-wrapper {
      background-color: white;
      width: 338px;
      height: 398px;

      .login-card {
        margin-top: 8vh;
        padding: 0 20px;
      }
    }
  }
}
