@import "../../index.scss";
#navbar {
  display: none;
}

.register-page-wrapper {
  width: 100%;
  height: 100vh;

  .register-card {
    width: 80%;
    margin: 14vh auto;

    .form-title {
      margin-bottom: 7vh;
    }

    .inner-form {
      .form-group {
        display: flex;
        margin: 20px 0;
        border-bottom: 1px solid grey;

        i {
          width: 40px;
          height: 40px;
          font-size: 20px;
          line-height: 40px;
          border: none;
          color: $color-gradient-start;
        }

        input {
          width: 100%;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          font-weight: 300;
          border: none;
          outline: none;
        }

        ::placeholder {
          color: lightgrey;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:active {
          box-shadow: 0 0 0 30px white inset !important;
        }
      }

      .password {
        margin-bottom: 5px;
      }

      .form-options {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        position: relative;

        a {
          text-decoration: none;
          color: grey;
          font-weight: 400;
        }

        .snk {
          text-align: left;
          padding-left: 5px;

          label {
            padding-left: 5px;
            font-size: 12px;
          }
        }

        .snk {
          margin-top: 20px;
        }

        .button {
          width: 100%;
          height: 40px;
          font-size: 20px;
          font-weight: 500;
          margin: 10px 0 10px 0;
        }

        .login {
          position: absolute;
          bottom: 0;
          left: 27%;
          display: flex;
          justify-content: center;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: 420px) {
  #navbar {
    display: flex;
  }

  .register-page-wrapper {
    height: calc(100vh - 55px);
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;

    .register-card {
      background-color: white;
      width: 337px;
      height: 470px;
      padding: 30px 50px;
      margin-top: 15vh;

      .form-title {
        margin-bottom: 5vh;
      }

      .inner-form {
        .form-options {
          height: 20vh;
          .login {
            left: 22%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .content-wrapper {
    .register-page-wrapper {
      .register-card {
        width: 345px;
        height: 470px;
      }
    }
  }
}
