.create-event-wrapper {
  width: 80%;
  margin: auto;

  background-color: bisque;

  .title {
    margin: 20px 0;
    text-align: left;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    form {
      // width: 80%;
      margin: auto;

      .form-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
