.item-wrapper {
  border-radius: 7px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 1px 1px 7px lightgray;

  .item-img {
    width: 120px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
  }
}

@media (min-width: 768px) {
  .item-wrapper {
    border-radius: 7px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 1px 1px 7px lightgray;

    .item-img {
      width: 180px;
      height: 255px;
      object-fit: cover;
      border-radius: 7px;
    }
  }
}
