.home {
  width: 100%;

  h1 {
    width: 70%;
    margin: 5px auto 20px auto;
    text-align: start;
  }

  .item-container {
    display: grid;
    grid-template-columns: 40vw 40vw;
    width: 90%;
    column-gap: 5vw;
    margin: auto;
    row-gap: 15px;
  }
}

@media screen and (min-width: 480px) {
  .home {
    .item-container {
      // margin: 0 5%;
      // grid-template-columns: 192px 192px 192px;
      display: flex;
      flex-flow: row wrap;
      width: 70%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    .item-container {
      display: flex;
      flex-flow: row wrap;
      width: 70%;
      margin: 0 auto;
    }
  }
}
