.home {
  width: 100%;

  h1 {
    width: 70%;
    margin: 5px auto 20px auto;

    text-align: start;
  }

  .item-container {
    display: grid;
    grid-template-columns: 40vw 40vw;
    column-gap: 5vw;
    row-gap: 15px;

    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 480px) {
  .home {
    .item-container {
      display: flex;
      flex-flow: row wrap;

      width: 70%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    .item-container {
      display: flex;
      flex-flow: row wrap;

      width: 70%;
      margin: 0 auto;
    }
  }
}

.flex {
  display: flex;
}