.add-new-wrapper {
  .detail-added {
    .faq {
      margin: 10px 0;

      font-weight: 500;
      font-size: 16px;

      border-left: 2px solid blue;
      background-color: rgb(233, 233, 233);

      .faq-t {
        display: flex;
        justify-content: space-between;

        padding: 0 10px;
        font-weight: 500;
        font-size: 16px;

        .del {
          text-align: center;

          cursor: pointer;

          transition: all 0.3s;
        }
        :hover {
          font-weight: 700;

          border-radius: 50%;

          color: red;

          transition: all 0.3s;
        }
      }

      .faq-d {
        padding-left: 10px;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 780px) {
}
