.me-container {
  width: 70%;
  min-height: 80vh;

  margin: 20pt auto;

  .edit {
    padding: 0 3pt;
    font-size: 9pt;
    font-weight: 400;

    cursor: pointer;

    border: 1px solid lightgray;
  }

  .user {
    display: flex;
    align-items: center;
    column-gap: 15pt;

    .u-i {
      position: relative;

      .user-img {
        width: 75pt;
        border-radius: 50%;
      }

      .edit {
        position: relative;
        right: 20pt;
        bottom: 10pt;

        background-color: white;
      }
    }

    .user-info {
      text-align: left;

      h1 {
        font-size: 16pt;
      }
      p {
        font-size: 10pt;
      }
    }
  }

  .bio {
    padding-left: 3pt;
    text-align: left;
  }

  .poster {
    text-align: left;

    .poster-t {
      display: flex;
      align-items: center;

      h2 {
        line-height: 18pt;
      }

      span {
        padding: 3pt 7pt 5pt 7pt;
        margin-left: 2pt;

        font-size: 10pt;
        font-weight: 600;

        border-radius: 7pt;
        background-color: #24bfde;
        color: white;
      }
    }

    .poster-img {
      width: 120pt;
    }
  }
}

@media screen and (min-width: 480px) {
  .me-container {
    .user {
      .user-img {
        width: 85pt;
        border-radius: 50%;
      }

      .user-info {
        h1 {
          font-size: 20pt;
        }
      }
    }
  }
}
