@import "../../index.scss";

.flex {
    display: flex;
}

.chpass-btn {
    padding: 10px;
    height: 2rem;
    width: 200px;
}

.left {
    text-align: left;
}

.me-item-title {
    width: 100px;
}

.me-item-wrapper {
    width: 100vw;
}