.dropdown-wrapper {
  position: relative;
  height: 35px;
  width: 150px;

  .dd-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding: 0 10px;

    border: 1px solid lightgray;
    border-radius: 5px;

    font-size: 14px;
    text-align: left;

    cursor: pointer;

    .arrow-d {
      transition: all 0.5s;
    }

    .arrow-u {
      transform: rotateX(180deg);
      transition: all 0.5s;
    }
  }

  .dd-list {
    position: absolute;
    top: 50px;
    opacity: 0;

    height: 0;
    width: 170px;
    padding: 0;

    list-style-type: none;
    border-radius: 5px;

    background-color: white;
    border: 1px solid lightgray;

    transition: all 0.5s;

    .dd-item {
      display: flex;
      align-items: center;

      height: 30px;
      margin: 5px 5px;
      padding-left: 10px;

      cursor: pointer;
    }

    :hover {
      border-radius: 5px;
      transition: all 0.5s;

      background-color: lightgray;
    }
  }

  .open {
    top: 35px;
    opacity: 1;
    z-index: 1;
    height: 200px;
    margin: 10px 0;
  }

  .open + .dd-header::after {
    transform: rotateX(180deg);
    top: -6px;
  }
}
