.add-new-wrapper {
  display: flex;
  flex-direction: column;

  text-align: left;

  background-color: plum;

  .item-wrapper {
    display: flex;
    flex-direction: column;

    // width: 100%;

    background-color: powderblue;

    .detail-wrapper {
      display: flex;
      flex-direction: column;

      // width: 90%;
      // margin: auto;

      background-color: pink;
    }
  }
}
