.add-new-wrapper {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  text-align: left;

  .item-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;

    box-shadow: none;
    border: none;

    input[type="text"] {
      width: 100%;
      height: 25px;
      margin-bottom: 10px;

      font-size: 14px;

      border: none;
      border-bottom: 1px solid lightgrey;

      transition: all 0.5s;
    }

    input[type="text"]:focus {
      height: 35px;
      padding: 0 10px;

      outline: none;
      border-bottom: 2px solid rgb(54, 78, 219);

      background-color: rgb(238, 238, 238);

      transition: all 0.5s;
    }

    input[type="text"]:focus + .add-detail-btn {
      height: 35px;

      background-color: #1b9ab4;
      color: white;

      transition: all 0.5s;
    }

    label {
      font-size: 16px;
      margin: 5px 0;
    }

    .detail-wrapper {
      display: flex;
      flex-direction: column;

      padding: 0 10px;

      .add-detail-wrapper {
        display: flex;
        align-items: center;

        .add-detail-btn {
          min-height: 25px;

          font-weight: 400;

          background-color: lightgrey;

          cursor: pointer;
          border: none;

          transition: all 0.5s;
        }
      }
    }

    .input-btn {
      height: 30px;
      width: 100%;
      margin: 10px auto;

      background-color: #1b9ab4;
      color: white;

      cursor: pointer;

      border: none;
      border-radius: 5px;
    }

    .raw-detail {
      display: flex;
      justify-content: space-between;

      margin: 5px 0;
      padding: 2.5px 10px;

      text-align: left;

      border: 1px solid lightgrey;

      .del {
        width: 40px;
        height: 25px;

        font-size: 14px;
        font-weight: 400;
        text-align: center;

        cursor: pointer;

        transition: all 0.3s;
      }
      .del:hover {
        font-weight: 600;

        border-radius: 50%;

        color: red;

        transition: all 0.3s;
      }
    }
  }

  .benefit-added {
    .benefit {
      margin: 10px 0;

      border: 1px solid lightgrey;
      border-radius: 5px;

      .b-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 5px 10px;
        border-bottom: 1px solid lightgrey;

        .del {
          font-weight: 500;
          font-size: 14px;

          color: rgb(224, 0, 0);

          cursor: pointer;
        }
      }

      .detail {
        .b-detail {
          padding: 5px 10px;
        }
        .b-detail::marker {
          color: orange;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 780px) {
}
