@import "../../index.scss";
.id-container {
  background-color: #fbfbfd;
  padding-bottom: 50px;
  // width: 100%;
  .id-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .poster {
      width: 95%;
      margin: 30px 2.5%;
      height: fit-content;
    }

    .content-wrapper {
      width: 100%;
      padding: 15px;
      text-align: left;

      .id-title {
        width: 100%;
      }
      .id-tag {
        width: 100%;
        margin-bottom: 10px;

        color: #6562ff;

        .c-f {
          font-size: 10px;
          margin-right: 10px;
        }
        a {
          margin-right: 10px;
          font-weight: 500;

          color: #6562ff;
        }
      }

      .tgl-pelaksanaan {
        width: 100%;
        margin: 10px 0;
      }
      .tgl-pel-detail {
        display: grid;
        grid-template-columns: 50% 50%;

        width: 100%;
      }

      .detail-event {
        width: 100%;
        margin: 30px 0 10px 0;
      }

      .add-fav {
        height: 40px;
        padding: 0 20px;
        margin: 20px auto;

        font-size: 18px;

        border-radius: 10px;
        border: none;

        background-color: rgb(0, 185, 15);
        color: white;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .id-container {
    width: 90%;
    margin: 20px 0;
    .id-wrapper {
      flex-direction: row;
      align-items: flex-start;

      .poster {
        width: 40%;
        max-width: 320px;
      }

      .content-wrapper {
        width: 50%;

        .id-title {
          font-size: 48px;
        }
      }
    }
    .comment {
      width: 80%;
      margin: auto;
    }
  }
}

@media screen and (min-width: 720px) {
}

.md-content > code, p > code {
  color: #6562ff;
  background-color: rgba(100,100,100,.07);
} 

.codeblock {
  border-radius: 7px;
}
