.detail-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  .detail-image-wrapper {
    width: 100%;
    height: fit-content;
    box-shadow: 0px 20px 10px -15px lightgray;
    .detail-image {
      width: 90%;
      object-fit: cover;
      margin: 20px 5%;
    }
    :hover {
      cursor: pointer;
      transform: scale(110%);
      transition: transform 500ms;
    }
  }

  .info {
    width: 90%;
    margin-top: 10px;
    h1 {
      margin: 0;
    }

    span {
      display: flex;
      align-items: center;
      width: fit-content;
      padding-left: 5px;
      font-size: 9px;
      color: rgb(75, 75, 75);
      background-color: rgb(212, 212, 212);
    }

    span::after {
      content: "";
      display: block;
      position: relative;
      left: 10px;
      top: 0;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;

      border-left: 10px solid rgb(212, 212, 212);
    }

    .basic-info {
      .basic-info-tag {
        display: flex;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;

        h4 {
          margin: 10px;
          cursor: pointer;
        }

        :hover {
          cursor: pointer;
          color: #00c20d;
        }
      }
    }

    .benefit {
      margin-bottom: 20px;
      position: relative;

      .benefit-list {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 70%;

        .benefit-item-detail {
          height: 100px;
          min-width: 220px;
          background-size: cover;
          color: white;
          margin: 10px;
          border-radius: 10px;

          h5 {
            font-size: 24px;
            padding-top: 5px;
            font-weight: 500;
            margin: 0 0 0 15px;
          }
          p {
            margin: 0 0 0 15px;
            font-weight: 400;
            font-size: 12px;
          }
        }
      }

      .benefit-item::-webkit-scrollbar {
        display: none;
      }
    }

    .alur {
      margin-bottom: 20px;

      .detail-alur-wrapper {
        .alur-menu {
          display: flex;
          flex-direction: column;
          padding: 3vh 10%;
          background-color: rgb(230, 230, 230);

          .detail-alur {
            min-width: 200px;
            height: fit-content;
            padding-left: 10px;
            padding-bottom: 20px;
            border-left: 3px solid #1c0903;

            h4 {
              margin: 0;
              font-size: 16px;
            }

            h5 {
              margin: 5px auto;
              font-weight: 500;
            }

            p {
              margin-top: 0px;
              font-size: 12px;
            }
          }

          .detail-alur::before {
            content: "";
            display: block;
            position: relative;
            width: 1px;
            height: 1px;
            top: 16px;
            left: -16px;
            border: 4px solid #1c0903;
            border-radius: 50%;
          }
        }
        .alur-menu::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .faq {
      .faq-item {
        counter-increment: h4;
      }

      h4::before {
        content: "#" counter(h4) " ";
        color: lightsalmon;
        font-weight: bold;
      }

      h4 {
        margin: 10px 0;
      }

      p {
        padding-left: 25px;
        margin: 0 auto 20px auto;
      }
    }
  }

  .item-detail-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8.5vh;
    padding: 5px;
    border: 1px solid lightgrey;
    box-shadow: 0px -0.1px 5px 0.1px lightgray;
    background-color: white;

    h2 {
      display: none;
    }

    .status {
      display: none;
      margin: 0;
      padding-left: 13px;
      font-size: 14px;
      font-weight: 500;
      color: #00c20d;
    }

    .status::before {
      content: "";
      display: block;
      position: relative;
      width: 1px;
      height: 1px;
      top: 15px;
      left: -15px;
      border: 4px solid #00c20d;
      border-radius: 50%;
    }

    a {
      text-decoration: none;
    }

    .btn-main {
      display: flex;
      text-align: center;
      justify-content: space-between;
      margin-top: 5px;
      padding: 0 5px;

      a {
        text-align: center;
        font-size: 12px;
        height: 35px;
        color: grey;
        border: 1px solid lightgray;
        border-radius: 5px;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
      }

      .pesan,
      .add-fav {
        width: 10%;
      }

      .daftar-event {
        width: 100%;
        height: 35px;
        color: white;
        background-color: #00c20d;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.8px;
      }
    }
  }
  .bottom {
    height: 8vh;
  }
}

@media screen and (min-width: 480px) {
  .detail-container {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px auto;

    .detail-image-wrapper {
      width: 30%;
      height: fit-content;
      box-shadow: none;
      .detail-image {
        width: 100%;
      }
    }

    .info {
      width: 60%;
      padding: 5px 20px 20px 30px;
    }

    .item-detail-button {
      height: 7vh;
    }

    .bottom {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .detail-container {
    flex-wrap: nowrap;
    .detail-image-wrapper {
      width: 30%;
      .detail-image {
        width: 100%;
      }
    }

    .info {
      width: 50%;
    }

    .item-detail-button {
      position: relative;
      width: 20%;
      height: 30vh;
      padding: 0 20px;
      margin: 10px;
      box-shadow: 0px 2px 3px lightgray;
      border-radius: 20px;

      h2 {
        margin: 15px 0 0 0;
        display: block;
      }

      .status {
        display: block;
        margin-bottom: 15px;
      }

      .btn-main {
        justify-content: space-around;
        flex-wrap: wrap;

        a {
          width: 50%;
        }

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
        }

        .pesan,
        .add-fav {
          width: 49%;
          margin: 5px 0;
          border-radius: 0;
          height: 25px;
          border-left: none;
        }

        .add-fav {
          border-right: none;
        }
      }
    }
    .bottom {
      display: none;
    }
  }
}
