@import "../../../index.scss";

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 1px 15px lightgray;
  padding: 0 2%;
  height: 55px;

  #brand {
    display: none;
    color: #000;
    text-decoration: none;
    :hover {
      color: #000;
    }
  }

  .search {
    height: 55px;
    width: 80%;
    min-width: 150px;

    .search-input {
      width: 80%;
      height: 30px;
      margin: 12.5px 0;
      padding: 10px;
      border-radius: 7px 0 0 7px;
      border: 1px solid lightgray;
      border-right: none;
      outline: none;
    }
    .search-btn {
      height: 30px;
      width: 50px;
      border-radius: 0 7px 7px 0;
      border: 1px solid lightgray;
      border-left: none;
    }
  }

  .daftar-masuk-button {
    display: none;
  }

  .hamburger-react {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);

    margin: auto 0;
    z-index: 1;
  }

  #menu {
    position: absolute;
    right: 0;
    width: 70%;
    height: 50vh;
    margin: 0;
    padding: 50px 0;
    background-color: lightgray;

    li {
      list-style-type: none;
    }
  }
}

@media screen and (min-width: 480px) {
  #navbar {
    padding: 0 3%;

    #brand {
      display: block;
      font-size: 32px;
      font-weight: 700;
      width: 152px;
      margin: auto 0;
      padding-bottom: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  #navbar {
    padding: 0 5%;

    .burger {
      display: none;
    }

    .daftar-masuk-button {
      display: flex;
      justify-content: center;
      width: 152px;

      .btn {
        width: 70px;
        height: 30px;
        margin: auto 5px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        border-radius: 7px;
      }

      .masuk {
        width: 68px;
        height: 28px;
        color: #1c0903;
        border: 1px solid #1c0903;
      }

      .daftar {
        color: white;
        background-color: $color-secondary;
      }
    }
  }
}
