.add-sk-wrapper {
  min-height: 50px;

  .input-field {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    input {
      height: 30px;
      margin: 0;
      padding-left: 5px;

      font-size: 14px;

      border-radius: 5px 0 0 5px;
      border: 1px solid lightgrey;
      border-right: none;
    }

    .sk-btn {
      height: 30px;
      margin: 0;

      font-size: 14px;
      color: rgb(51, 51, 51);

      cursor: pointer;

      border-radius: 0 5px 5px 0;
      border: 1px solid lightgrey;
      background-color: lightgrey;
    }
    :focus {
      outline: none;
    }
  }

  .sk-item {
    display: flex;
    justify-content: space-between;

    margin: 5px;
    padding: 5px 10px;

    text-align: left;

    border-left: 2px solid blue;

    background-color: rgb(233, 233, 233);

    .del {
      width: 25px;
      height: 25px;

      text-align: center;

      cursor: pointer;

      transition: all 0.3s;
    }
    :hover {
      border-radius: 50%;

      color: red;
      background-color: white;

      transition: all 0.3s;
    }
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 780px) {
  .add-sk-wrapper {
    min-height: 50px;

    .input-field {
      input {
        width: 85%;
      }

      .sk-btn {
        width: 15%;
      }
    }
  }
}
